* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Kosugi Maru", "Nunito", sans-serif;
  line-height: 1.3;
}

.container {
  width: 12rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 50rem;
  }
}
